In [3]:
#HW Prelecture
#1.
import pandas as pd

url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
print(url) 
url

pd.read_csv(url)
# Observations: represent the rows of our datasets,(the data category we're going to measure: a single villager's data), For instance, in this dataset, the observations including the animals' name, species, phrase and so on.
# Variables: different information we get for each of the observations,(numbers or specific classification categories). Columns in our dataset here, including "name",:"gender","species",etc.

https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [4]:
ab = pd.read_csv(url)
ab.isnull().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [4]:
#2.
print(df.columns)

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')

In [5]:
pokeaman = pd.read_csv(url)
pokeaman.describe()
#the df.describe() will only include "numeric columns"

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
print(df.head())

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [2]:
df = pd.read_csv(url)

print(df.shape)
df

(391, 11)

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [24]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv')
print(data.columns)
categorical_columns = ['species', 'personality']
for column in categorical_columns:
    print(f"\nValue counts for {column}:")
    print(data[column].value_counts())

#5.Attribute:
# (1)Explanation:An attribute is a characteristic of an object (the information about the object stored in the DataFrame, a kind of variable in the class. e.g., their age, names, etc.)
# (2)How it works: they are used to store a specific state or value of an object, it can accessed directly, so it does not need to call with a parenthese (and we can get information that already had.)
# (3)Examples of other properties: df.columns, df.shape, etc.
# Method:
# (1)Explanation:A method is an object's action or computation (operation) that can be performed.(A function bond with the object)
# (2)They usually take some arguments, and parentheses are nesseary in order to trigger the function (execute the specific code of the object)

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')

Value counts for species:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

Value counts for personality:
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [ ]:
# Summaries of my ChatBot sessions

#Hereâ€™s a summary of our conversations so far:

#Dataset Overview:

#You mentioned downloading a dataset about characters from Animal Crossing and asked how to check its structure.
#I suggested using df.shape to view the number of rows and columns and also showed how to load the dataset using pandas.
#Simple Dataset Summarization:

#You asked how to summarize the dataset in the simplest form.
#I recommended using df.describe() to get a statistical summary of numeric columns and df['column'].value_counts() for frequency counts of categorical columns.
#Attributes vs. Methods:

#You wanted to understand the difference between an "attribute" (e.g., df.shape) and a "method" (e.g., df.describe()).
#I explained that attributes are properties of objects (e.g., stored information like the shape of a DataFrame), while methods are functions that perform actions on objects and need parentheses to be called.
#Let me know if you'd like more details or further clarification!

#Links:https://chatgpt.com/c/66e26156-1e74-800c-8b8d-39cc07a11273

In [ ]:
# Postlecture
#Definitions:
# 1.count:the number of valid values (no missing values) in the column
# 2.mean:the average value of the data in each column. (the sum of all values divided by the count of these values)
# 3.std:refers to the standard deviationï¼Œit is used to indicate (qiantifies)the degree of dispersion of each data around the mean
# 4.min:the minimum value means the smallest value in the dataset (for each column)
# 5.25%:the first quartile in the distribution, it represents a point that a quater of the data lies below it
# 6.50%:median(second quartile), the middle value of the dataset
# 7.75%:the third quartile, three-quarters of the data are below it
# 8.max:the maximum value means the largest value in the dataset.

In [ ]:
#7.
#df.dropna() is used to delete rows or columns that contain missing values, which is more flexible and will delete rows or columns depending on the parameter settings(whether it contains missing values)
#df['col'] will directly delete a column in DataFrame, and won't handling the missing values
#(1)If I'm an accountant, and I'm doing the accounts for my company. The revenue and costs dataset for the company contains complex fields such as date of expenses and amount spent. Before doing the account, I nocited that there were some missing values in the dataset. df.dropna() can remove rows and columns that contain missing values in one time, and can effectively improve the analysis efficiency.(do not need human judgment to delete)
#(2)I'm making a marketing analysis for a customer according the dataset which contains his/her costomer information. This dataset includes columns like the customer's name, id, email, purchase history, bank card information and so on. But we only need to focus on the analysis of customer's purchase(those data about email, name etc does not need), so we can use del df['col'] to delete these unwanted data.(df.dropna can't delete the irrelevant or redundant column)
#(3)del df['col'] can first delete those unnecessary columns and reduce the size of our dataset, and can also prevent redundant computations. It can make the process more efficient.
#(4)A hypothetical Dataset: a form providing the student's name, email address dtudent id, signup_source and purchase amount.(and it also contains some missing values)
# Assume that the signup_source is also not relevant with our analysis.
# First, we remove the signup_source which is a unnecessary information: del df['signup_source']
# Next,we can handle the missing values by df.dropna:df_cleaned = df.dropna()
# Justification: first, we remove the signup_source which is irrelevant for our current analysis. It can improve the efficiency and avoid unnecessary operations
#                Secondly, we used df.dropna() to remove rows with those columns containing missing values. This can make sure our analysis only performed on complete records, which allows us to get accurate results.

In [8]:
#8.
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

print(url)
pd.read_csv(url)

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [12]:
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [11]:
#(1)
age_summary_by_class = df.groupby("class")["age"].describe()
print(age_summary_by_class)
#df.groupby("col1") groups the DataFrame, and rows with same value will be grouped together
#["col2"] selects the column col2 from the grouped DataFrame
#.describe():generates the statistics (do the operations like count, mean, standard deviation and so on) for the values in col2.
#For example, here, df.groupby("class"):groups those passengers by their class
#["age"] which means the "age" column has been selected from the grouped data
#.describe():generates the statistics (mean, standard deviation, etc.)for the "age" for each class.

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [13]:
#(2)
print(df.describe())
#df.describe() does not consider the grouping problem, it only provides summary statistics for each columns.For example,there is a missing value in the column "age",so the count here will be the number of those non-NaN values, and does not care the rest of the DataFrame
#df.groupby("col1")["col2"].describe():the count here refers to the number of non-missing vaues in col2 for each group in col1.
#Their main differencies is that df.describe treats the whole DataFrame, and df.groupby("col1")["col2"].describe() breakes these data by groups, and the general summary statistic will base on the group of col1.
#In df.describe(), we can also get how many missing values there are for each of the column
#In df.groupby("col1")["col2"].describe() can let us analysis those missing data,which can make the proble more detailed.

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [2]:
#(3)
#(i)
titanic_df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
#ChatGPT is more quickly, because google will show different methods.But issues like this (forget the import), ChatBot would be easier and more efficiency.

NameError: name 'pd' is not defined

In [3]:
#(ii)ChatGPT
import pandas as pd
titanic_df = pd.read_csv("titanics.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

In [4]:
#(iii)
import pandas as pd
df = pd.read_csv("titanic.csv")
result = DF.groupby("class")["age"].describe()
#ChatGPT will be easier and faster, because misnaming the variable is just a personalized typing problem, we don't need to read all the results that google provided

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [5]:
#(iv)ChatGPT 
import pandas as pd
titanic_df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
#Again, this is a common mistake(missing parentheses, colons or some basic syntax errors), can all be checked out quickly by ChatBot

SyntaxError: incomplete input (717297966.py, line 4)

In [6]:
#(v)ChatGPT 
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
result = df.group_by("class")["age"].describe()
#For errors like mistyped function names, using the Chatbot is easier and quicker,because google will probably give us some posts about similar errors, and we need to read by ourselves.

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [7]:
#(vi)ChatGPT
import pandas as pd
titanic_df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
result = titanic_df.groupby("Sex")["age"].describe()

KeyError: 'Sex'

In [8]:
#(vii)ChatGPT
import pandas as pd
titanic_df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
result = titanic_df.groupby(sex)["age"].describe()

NameError: name 'sex' is not defined

In [ ]:
#9.Mostly